<div class="flex items-center h-10 border-b border-gray-200 dark:border-gray-800 w-full overflow-x-auto scrollbar-none gap-1 px-2">
    @for (nav of navRoutes(); track nav.route.path) {
      <p-select
        [options]="nav.options"
        [ngModel]="getSelectedValue(nav.route, nav.options)"
        (ngModelChange)="onRouteSelect($event)"
        optionLabel="label"
        [placeholder]="nav.route.title ?? ''"
        styleClass="h-7 text-sm"
        appendTo="body"
        [showClear]="false"
        [dropdownIcon]="'none'"
      >
        <ng-template #selectedItem let-option>
          <div class="flex items-center gap-1.5">
            <span>{{ nav.route.title }}</span>
          </div>
        </ng-template>

        <ng-template #item let-option>
          <div class="flex items-center gap-2">
            @if (option.icon) {
              <i [class]="option.icon + ' text-xs'"></i>
            }
            <span>{{ option.label }}</span>
          </div>
        </ng-template>
      </p-select>
    }
  </div>